{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Edit category: {{ category }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-6 mt-5 mx-5">
            <h4>Edit category: {{ category }}</h4>
            <div class="mt-3">
                {{ form_row(form.name) }}
            </div>
            <div class="float-right mt-2">
                <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


    


{% endblock %} 



