{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(form) }}
    <div class="row mt-3 mx-5">
        <div class="col-6" style="margin-left:auto;">
            {{ form_row(form.name) }}
        </div>
        <div class="col-2 text-right">
            <button class="btn btn-primary" type="submit">Add category</button>
        </div>
    </div>
    {{ form_end(form) }}
    <div class="my-5 mx-5">
        <h4>{{ section }} categories</h4>
        <div class="row">
            {% set half = (categories|length) / 2|round(0, 'ceil') %}
            {% for column in categories|batch(half, null) %}
                <div class="col">
                    <ul class="list-group">
                        {% for category in column %}
                            {% if category %}
                                <li class="list-group-item list-group-item-action">
                                    <div class="d-flex justify-content-between">
                                        <a href="{{ path('list_challenges', {'category': category.id}) }}">{{ category|lower }}</a>
                                        <a href="{{ path('edit_category', {'category': category.id}) }}">edit</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
