{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col">
            <h4>{{ section }} categories</h4>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item list-group-item-action"><a
                                href="{{ path('list_challenges', {'category': category.id}) }}">{{ category|lower }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            {{ form_start(form) }}
            <h4>Add category</h4>
            {{ form_row(form.name) }}
            {{ form_row(form.section) }}
            {{ form_row(form.position) }}
            <button class="btn btn-primary" type="submit">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
