{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col">
            <h4>Sections</h4>
            <ul>
                {% for category in categories %}
                    <li><a href="{{ path('list_challenges', {'category': category.id}) }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            {{ form_start(form) }}
            <h4>Add category</h4>
            {{ form_row(form.name) }}
            {{ form_row(form.position) }}
            <button class="btn btn-primary" type="submit">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
