{% extends 'base.html.twig' %}

{% block title %}Trainer menu{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row mt-5">
        <div class="col">
            <h4>Sections</h4>
            <ul>
                {% for section in sections %}
                    <li><a href="{{ path('list_categories', {'section': section.id}) }}">{{ section }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            {{ form_start(form) }}
            <h4>Add section</h4>
            {{ form_row(form.name) }}
            {{ form_row(form.position) }}
            <button class="btn btn-primary" type="submit">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
