{% extends 'base.html.twig' %}

{% block title %}Challenge - {{ challenge.category.section }} - {{ challenge.category }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mt-5">
        <div class="mt-3 card">
            <div class="card-header">
                {{ challenge.category.section }}: {{ challenge.category }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ challenge }} result</h5>
                <p class="card-text">{{ challenge.content }}</p>
                <p class="card-text"><span class="font-weight-bold">Possible answer</span>: {{ challenge.answers }}</p>
                {# {% if challenge.link %} #}
                <a href="{{ challenge.link }}" class="card-link">man page</a>
                {# {% endif %} #}
            </div>
        </div>
        <div class="mt-3">
            <p>Your answer</p>
            {{ answer }}
        </div>
        <div class="float-right mt-2">
            <a href="{{ path('take_challenge', {'run' : run.id}) }}" class="btn btn-primary">next</a>
        </div>
    </div>
{% endblock %}
