{% extends 'base.html.twig' %}

{% block title %}Challenge - {{ challenge.category.section }} - {{ challenge.category }}{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(form) }}
    <div class="mt-5 mx-5">
        <div class="mt-3 card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <span class="text-lowercase">{{ challenge.category.section }} / {{ challenge.category }} / {{ challenge }}</span>
                    {% if challenge.link %}
                        <a href="{{ challenge.link }}" class="card-link">{{ challenge.category }} man page</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ challenge.content }}</p>
                <div class="mt-5">
                    {{ form_row(form.answer}) }}
                </div>
            </div>
        </div>
        <div class="float-right mt-3">
            <button class="btn btn-primary" type="submit">submit answer</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
